.tagataust{
    background-image: url("smuuti.jpg");

    height: 150%;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face{
    font-family: pealkiri;
    src: url("Simple\ script.ttf")
}


h1.pealkiri{
    position: absolute;
    left: 36%;
    top: -5%;
    font-size: 102;
    font-weight: bold;
    font-family: pealkiri;
}

h2.autorid{
    position: absolute;
    top: 15%;
    left: 41%;
    font-family: pealkiri;
    font-size: 30;
}

p.küsimus1{
    position: absolute;
    left: 8.3%;
    font-size: 45;
    font-family: Arial, Helvetica, sans-serif;
}

.küsimus2{
    position: absolute;
    left: 20.7%;
    top: 7%;
    font-size: 45;
    font-family: Arial, Helvetica, sans-serif;
}

.küsimus3{
    position: absolute;
    top: 14%;
    left: 27.5%;
    font-size: 45;
    font-family: Arial, Helvetica, sans-serif;
}

.küsimus4{
    position: absolute;
    top: 21%;
    left: 19%;
    font-size: 45;
    font-family: Arial, Helvetica, sans-serif;
}

.vastus{
    margin-left: 10px;
    position: absolute;
    left: 2.5%;
    top: 30%;
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;
}

hr.jutt{
    margin-top: 425px;
    margin-left: 30px;
    margin-right: 33px;
}

.tutvustus{
    position: absolute;
    margin-left: 22px;
    margin-right: 22px;
    top: 42%;
    font-size: 25;
    text-align: justify;
}

.esimenediv{
    position: absolute;
    left: 25%;
    top: 30%;
    width: 900px;
    height: 1050px;
    border-radius: 12px;
    background-color: seashell;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: absolute;
  top: 65%;
  left: 30%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 50%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
